.ProjectsContainer h2 {
    margin-bottom: 50px;
}

.ProjectsContainer ul {
    list-style: none;
    padding: 0px;
}

.optionProyect {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.ProjectsContainer ul li img {
    width: 150px;
    border-radius: 5px;
}

.informationOptionContainer {
    width: 70%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.informationOptionContainer h3 {
    margin: 0px;
}

.informationOptionContainer footer {
    margin-bottom: 20px;
}

.listSkills {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0px;
}

.listSkills li {
    height: 30px;
    margin: 5px 5px;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 10px;
    background-color: rgba(1, 25, 74, 0.3);
    color: #0FB8D6;
}