.ProjectsContainer h2 {
    margin-bottom: 50px;
}

.ProjectsContainer ul {
    list-style: none;
    padding: 0px;
}

.optionProyect {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.ProjectsContainer ul li img {
    width: 150px;
    border-radius: 5px;
}

.informationOptionContainer {
    width: 70%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.informationOptionContainer h3 {
    position: relative;
    margin: 5px 0px;
}

.informationOptionContainer main a {
    color: white;
    text-decoration: underline;
}

.informationOptionContainer h3::after {
    content: '';
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    display: block;
    transition: transform 0.3s ease;
}

.informationOptionContainer h3::after {
    transform: scaleX(0);
    transform-origin: bottom center;
}

.informationOptionContainer h3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

.informationOptionContainer footer {
    margin-bottom: 20px;
}

.listSkills {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0px;
}

.listSkills li {
    height: 30px;
    margin: 5px 5px;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 10px;
    background-color: rgba(1, 25, 74, 0.3);
    color: #0FB8D6;
}

/* Estilos para dispositivos móbiles pequeños */
@media screen and (max-width: 480px) {

    .ProjectsContainer {
        width: 100%;
    }

    .ProjectsContainer h2 {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .optionProyect {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .informationOptionContainer {
        width: 100%;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
  }