.ProjectsContainer ul {
    list-style: none;
    padding: 0px;
}

.ProjectsContainer ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.ProjectsContainer ul li img {
    width: 150px;
    border-radius: 5px;
}

.informationOptionContainer {
    width: 70%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.informationOptionContainer h3 {
    margin: 0px;
}