.TechnologiesContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TechnologiesContainer h2 {
    align-self: flex-start;
}

.TechnologiesContainer div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TechnologiesContainer ul {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.TechnologiesContainer li {
    margin: 3px;
    padding: 5px;
}

.TechnologiesContainer img {
    height: 30px;
    object-fit: contain;
}

/* Estilos para dispositivos móbiles pequeños */
@media screen and (max-width: 480px) {

    .TechnologiesContainer {
        width: 100%;
    }
  }