#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-Container {
  position: absolute;
  top: 0px;
  right: 15vw;
}

.main-fixed-Container {
  border: medium solid red;
  position: fixed;
  top: 0px;
  left: 20vw;
  height: 100vh;
  width: 30vw;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.main-scroll-Contianer {
  border: medium solid green;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}